html, body, .main {
    margin: 0;
    padding: 0.5%;
    background: #FFF8F1;
    
}

.navbar {
	background-color: #FFF8F1;
}

#proud-space {
	text-align: center;
    font-family: 'Coming Soon', cursive;

}

